<div>
  <p>[機能]</p>
  <p>1.注文</p>
  <p>2.ユーザー登録</p>
  <p>3.ログイン</p>
  <p>4.ログアウト</p>
  <p>5.ログインしないと注文できない</p>
  <p>6.マイページ</p>
  <p>7.アソシエーションの利用</p>
  <p>8.メール自動送信</p>
  <p>9.問い合わせ(DBは介さない)</p>
  <p>10.管理画面</p>
</div>