<div class="contents row">
<%= form_for @product do %>
  <h3>注文</h3>
    <label>
      <input type="radio" name="name" value="商品1"> 商品1
    </label><br>
    <label>
      <input type="radio" name="name" value="商品2"> 商品2
    </label><br><br>
    <input type="submit" value="注文する">
  <% end %>
</div>